* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.WelcomeContainer {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f0bb03;
  font-weight:bold;
  font-size:60px;
}
.downbuttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.downbuttons h3{
  color:white;
  font-family:" Bree serif";
  font-size:20px;
}
.downbuttons button{
  background-color: white;
  color:black;
  border-style: none;
  height: 30px;
  border-radius: 8px;
  font-size:15px;
}